/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url("https://fonts.googleapis.com/css?family=Kumar+One+Outline|Noto+Serif");

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
svg {
  height: 100vh;
  width: 69%;
}

.table-wrapper {
  display: inline-block;
  width: 30%;
  overflow: auto;
  height: 100vh;
  overflow: auto;
}

svg.bubbles {
  vertical-align: top;
}
g.offMap {
  visibility: hidden;
}
g.person {
  cursor: pointer;
}
circle.person-handle {
  fill: hsla(208, 100%, 97%, 0.1);
}
circle.person-dot {
  opacity: 0.7;
}
.active .person-handle {
  fill: rgba(255, 0, 0, 0.25);
}
.snapped .person-handle {
  stroke: green;
  stroke-width: 40px;
}
.focused .person-handle {
  fill: orange;
  opacity: 1;
}
.snapped .person-dot {
  opacity: 0.2;
}
.person-label {
  font-size: 800px;
  font-family: blender;
}

.furniture {
  fill: aliceblue;
  stroke: black;
  stroke-width: 10;
}
path.perimeter {
  fill: none;
  stroke: black;
  stroke-width: 40px;
}

/*HULL*/
.hull {
  fill: hsla(208, 100%, 50%);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: hsla(208, 100%, 50%);
  opacity: 0.15;
  stroke-width: 1400;
}

table {
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
tr:nth-of-type(even) {
  background: #fff;
}
tr.highlighted {
  border: 3px solid lightskyblue;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
  /* cursor: s-resize; */
  background-repeat: no-repeat;
  background-position: 3% center;
}
td,
th {
  padding: 2px 6px;
  border: 1px solid #ccc;
  text-align: left;
}

th.des:after {
  content: "\21E9";
}

th.aes:after {
  content: "\21E7";
}

.boundary {
  fill: hsla(240, 100%, 50%, 0.1);
}

body.docs {
  margin: auto;
  width: 50vw;
  min-width: 30em;
}
body.docs,
body.docs li {
  font-size: 21px;
  line-height: 1.5;
}
body.docs h1,
body.docs h2,
body.docs h3,
body.docs h4 {
  font-family: "Kumar One Outline", cursive;
}

body.docs h1 {
  font-size: 6rem;
}
body.docs h2 {
  font-size: 3rem;
}
body.docs h3 {
  font-size: 2rem;
}
body.docs h4 {
  font-size: 1rem;
}

body.docs p,
body.docs li {
  font-family: "Noto Serif", serif;
}
body.docs li {
  padding-right: 10em;
  margin-block-end: 1em;
}

body.docs img.side {
  float: right;
  max-width: 50%;
}
body.docs li img {
  display: block;
  max-width: 25vw;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  @page {
    margin-top: 20mm;
    margin-bottom: 20mm;
    margin-left: 20mm;
    margin-right: 20mm;
  }
  body.docs,
  body.docs li {
    font-size: 14px;
    /* width: calc(100% - 40mm); */
    width: 100%;
  }
  body.docs h1 {
    font-size: 3rem;
  }
  body.docs h2 {
    font-size: 1.5rem;
  }
  body.docs h3 {
    font-size: 1.2rem;
  }
  body.docs h4 {
    font-size: 1rem;
  }

  *,
  *:before,
  *:after {
    /* background: transparent !important;
        color: #000 !important; */ /* Black prints faster */
    /* -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important; */
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
